Pandas use for Tabular data. Types of data we are going to deal with are:
1. Tabular (excel/csv/table etc)
2. Texual (docs/words/pdfs/notepad etc)
3. Images (JPG/png)
4. Videos (mp4 etc)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("trial.csv")

In [4]:
df

,Txt Path & File Name,String,Date
0,AARDVARK SWIFT\NA\67245718\Aardvark Amendment ...,No Match,No
1,ABM JANITORIAL SERVICES\NA\69091688\ABM Indust...,No Match,No
2,admob\Insertion Order\2104945\002352BB.txt,No Match,No
3,admob\Insertion Order\2105271\002352BC.txt,No Match,No
4,admob\Insertion Order\2105515\002352BD.txt,No Match,No
...,...,...,...
4994,LINIAD MEDIA LTD\NA\52981537\id_53376043.txt,Either party may terminate this Agreement ( in...,Yes
4995,LINIAD MEDIA LTD\NA\52981537\id_53376058.txt,Either party may terminate this Agreement ( in...,Yes
4996,LINIAD MEDIA LTD\NA\52981537\Liniad - MSA SOW...,Either party may terminate this Agreement (inc...,Yes
4997,LINIAD MEDIA LTD\NA\52981537\LINIAD.MEDIA_1355...,No Match,No
4998,LINIAD MEDIA LTD\NA\52981537\Zynga_Service_Pro...,No Match,No

In [5]:
df.iloc[3]

Txt Path & File Name    admob\Insertion Order\2105271\002352BC.txt
String                                                    No Match
Date                                                            No
Name: 3, dtype: object

# Slicing :- getting a small part of data from overall dataset.
# (a) Row Data Slicing:

In [6]:
df.iloc[8:13]

                               Txt Path & File Name    String Date
8   aescripts+aeplugins\NA\67979356\id_68269014.txt  No Match   No
9   aescripts+aeplugins\NA\67979356\id_68269018.txt  No Match   No
10  aescripts+aeplugins\NA\67979356\id_68269033.txt  No Match   No
11  aescripts+aeplugins\NA\67979356\id_68269037.txt  No Match   No
12  aescripts+aeplugins\NA\67979356\id_68269152.txt  No Match   No

#for columns

In [39]:
# access all columns
print(df.columns)
# access columns in list
list(df.columns)

Index(['Txt Path & File Name', 'String', 'Date'], dtype='object')

['Txt Path & File Name', 'String', 'Date']

In [40]:
# access one column
df["String"]

0                                                No Match
1                                                No Match
2                                                No Match
3                                                No Match
4                                                No Match
                              ...
4994    Either party may terminate this Agreement ( in...
4995    Either party may terminate this Agreement ( in...
4996    Either party may terminate this Agreement (inc...
4997                                             No Match
4998                                             No Match
Name: String, Length: 4999, dtype: object

In [41]:
df_columns=list(df.columns)

In [42]:
df_columns[2]

'Date'

In [43]:
df.loc[:,df_columns[1]:df_columns[2]]

                                                 String Date
0                                              No Match   No
1                                              No Match   No
2                                              No Match   No
3                                              No Match   No
4                                              No Match   No
...                                                 ...  ...
4994  Either party may terminate this Agreement ( in...  Yes
4995  Either party may terminate this Agreement ( in...  Yes
4996  Either party may terminate this Agreement (inc...  Yes
4997                                           No Match   No
4998                                           No Match   No

[4999 rows x 2 columns]

# (b) Column Data Slicing:

In [44]:
df.loc[7:12,df_columns[1]:df_columns[2]] #or df.loc[:,df_columns[1]:df_columns[2]].iloc[7:15]

      String Date
7   No Match   No
8   No Match   No
9   No Match   No
10  No Match   No
11  No Match   No
12  No Match   No

In [45]:
df.iloc[7:12,1:3]

      String Date
7   No Match   No
8   No Match   No
9   No Match   No
10  No Match   No
11  No Match   No

# we are going to compute probability of "No" from all dataset, for that we need to calculate first the frequency of "no" in the above dataset 
### Concept of Boolean masks is required to understand it, So what is boolean masks?

# It is actually the dataframe of boolean values(T/F)

In [54]:
boolean_masks =df[df_columns[2]]=='No'

In [55]:
df[boolean_masks]

                                   Txt Path & File Name    String Date
0     AARDVARK SWIFT\NA\67245718\Aardvark Amendment ...  No Match   No
1     ABM JANITORIAL SERVICES\NA\69091688\ABM Indust...  No Match   No
2            admob\Insertion Order\2104945\002352BB.txt  No Match   No
3            admob\Insertion Order\2105271\002352BC.txt  No Match   No
4            admob\Insertion Order\2105515\002352BD.txt  No Match   No
...                                                 ...       ...  ...
4991       LINIAD MEDIA LTD\NA\52981537\id_53376020.txt  No Match   No
4992       LINIAD MEDIA LTD\NA\52981537\id_53376024.txt  No Match   No
4993       LINIAD MEDIA LTD\NA\52981537\id_53376039.txt  No Match   No
4997  LINIAD MEDIA LTD\NA\52981537\LINIAD.MEDIA_1355...  No Match   No
4998  LINIAD MEDIA LTD\NA\52981537\Zynga_Service_Pro...  No Match   No

[4545 rows x 3 columns]

In [56]:
df[boolean_masks].shape

(4545, 3)

# frequncy of "no" is 4545

In [59]:
Probability_of_no=4545/4999

In [60]:
Probability_of_no

0.9091818363672735